<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426551901837-ngi5mr2ovqumc5bp00kiahuts1r5odha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426551901837-ngi5mr2ovqumc5bp00kiahuts1r5odha</string>
	<key>API_KEY</key>
	<string>AIzaSyCx6loS6_9hS-aRiE6XOiT-7oPB8t-MSc8</string>
	<key>GCM_SENDER_ID</key>
	<string>426551901837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AadityaShankar.UserAuthentication</string>
	<key>PROJECT_ID</key>
	<string>userauthentication-6f6b1</string>
	<key>STORAGE_BUCKET</key>
	<string>userauthentication-6f6b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426551901837:ios:59aa209ea8df2adfadacc4</string>
</dict>
</plist>